#set ($confPage = $action.page)
#set ($helper = $action.helper)
#set ($pageType = $confPage.getType())
#set ($page_title = $i18n.getText("conf2dita.action.viewmap.title.label", $confPage.getTitle()))
#parse ( "/templates/velocimacro.vm" )
<html>
<head>
  <title>$page_title</title>
</head>

    <content tag="title-text-span">$page_title</content>

    <!-- call the page decorator -->
#applyDecorator("root")
    #decoratorParam("helper" $helper)
    #decoratorParam("context" "$pageType")

<body>
	
	 <div class="conf2dita-ditamap">
	 	<div class="conf2dita-wrapper"><pre>${ditamapString}</pre></div>
	</div>

</body>
#end
</html>
